{
  "extends": ["@linaria/stylelint-config-standard-linaria"],
  "rules": {
    "max-line-length": null,
    "indentation": null,
    "string-quotes": "single",
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ],
    "comment-empty-line-before": [
      "never",
      {
        "severity": "warning"
      }
    ],
    "declaration-empty-line-before": [
      "never",
      {
        "severity": "warning"
      }
    ],
    "property-no-unknown": [
      true,
      {
        "severity": "warning"
      }
    ],
    "at-rule-no-unknown": [
      true,
      {
        "severity": "warning"
      }
    ],
    "selector-class-pattern": [
      "^[a-z][a-z0-9]*(-[a-z0-9]+)*$",
      {
        "severity": "warning"
      }
    ]
  }
}
